@{
    ViewData["Title"] = "عني";
}

<div class="container mt-5">
    <h2 class="mb-4">من أنا؟</h2>

    <p>.اسمي شعيب، مهندس برمجيات بدأت رحلتي في عالم البرمجة من شغف حقيقي لبناء حلول عملية باستخدام التكنولوجيا</p>

    <hr />

    <h4>المهارات التقنية</h4>
    <ul>
        <li>📌 C# و ASP.NET Core</li>
        <li>📌 HTML, CSS</li>
        <li>📌 SQL و Entity Framework Core</li>
        <li>📌 GitHub</li>
    </ul>

    <hr />

    <h4>هدفي</h4>
    <p>.أن أصبح مطور ويب محترف، قادر على إنشاء تطبيقات حقيقية تخدم الناس وتساعدني على العمل الحر أو السفر والعمل بالخارج</p>
</div>
