@{
    ViewData["Title"] = "المشاريع";
}

<div class="container mt-5">
    <h2 class="mb-4">مشاريعي</h2>

    <p>بعض المشاريع اللي اشتغلت عليها أو أتعلم من خلالها حالياً:</p>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">موقع تعريفي شخصي</h5>
                    <p class="card-text">موقع مبني باستخدام ASP.NET Core MVC لعرض السيرة الذاتية والتواصل، مع صفحات متعددة وتصميم بسيط.</p>
                    <a href="#" class="btn btn-outline-primary btn-sm disabled">رابط المشروع</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">To do list Project</h5>
                    <p class="card-text">تطبيق ويب بسيط لإدارة المهام</p>
                    <a href="https://github.com/ShoaibSaeed97/ToDoListApp" target="_blank" class="btn btn-outline-primary btn-sm ">رابط المشروع</a>
                </div>
            </div>
        </div>

        
    </div>
</div>
